.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  max-width: 840px;
}

.container input {
  margin-top: 20px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid black;
  max-width: 200px;
  padding: 0 10px;
}

.container input:focus {
  outline: none;
}

.verification-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
}
.red {
  border: 1px solid red;
  height: 20px;
  width: 200px;
}
.medium {
  border: 1px solid orange;
  height: 20px;
  width: 200px;
}
.green {
  border: 1px solid green;
  height: 20px;
  width: 200px;
}

.gray {
  border: 1px solid gray;
  height: 20px;
  width: 200px;
}